.rating {
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* height: 30px;  */
  width: 14%;
  /* margin: 20px;  */
  /* margin:0; */
  border:solid 1px black;
}

.star {
  font-size: 2rem;
  cursor: pointer;
}
.star-empty {
  color: lightgrey;
}

.star-filled {
  color: black;
}