<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Borrow Land</title>
</head>
<body>
  <div class="logo">
    <a href="../pages/main.html">Borrow Land</a>
  </div>
  <input type="checkbox" id="hamburger" onClick = "menuopen()"/>
    <label for="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
  <nav class="nav">
    <ul class="menu">
      <li><a href="../pages/store.html">장터</a></li>
      <li>
        <a>서비스</a><a class="service-menu1" onClick ="servicemenu1()">▼</a>
        <ul class="sub-menu" id="service-menu">
          <li><a href="../pages/service-rent.html">대여내역</a></li>
          <li><a href="../pages/service-like.html">관심물품</a></li>
        </ul>
      </li>
      <li><a href="../pages/message.html">쪽지</a></li>
      <li>
        <a>고객지원</a><a class="service-menu2" onClick = "servicemenu2()">▼</a>
        <ul class="sub-menu" id="customersupport-menu">
          <li><a href="../pages/customer-notice.html">공지사항</a></li>
          <li><a href="../pages/customer-q&a.html">Q & A</a></li>
        </ul>
      </li>
      <li><a href="../pages/honor.html">명예의 전당</a></li>
    </ul>
  </nav>
  <div class="userwrap">
    <img class="favicon" src="../../src/images/user.svg" alt="Profile">
    
    <div class="user">
      <div class="grade">
        <%=user[0]._doc.grade%>      
      </div>

      <div class="user-name">
        <%=user[0]._doc.id%>
      </div>

      <div class="user-info">
        내정보
      </div>

      <div class="logout">
        로그아웃
      </div>
        
      <!-- <div class="e-mail">
        codenmh0822@naver.com
      </div>

      <div class="message">
        쪽지
      </div>

      <div class="message-count">
        15
      </div> -->
    </div>
  </div>
</body>
</html>