<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Borrow Land</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="../../src/js/header.js"></script>
  <script src="../../src/js/footer.js"></script>
  <link rel="stylesheet" href="../../src/css/style.css">
</head>
<body>
  <div class="wrapper">
    <header id="header"></header>
    
    <!-- <br> -->
    
    <hr>
    <br>    
    <div class="article-wrap">       
    <div class="findPS-wrap">
      <form id="find_PS" method="post" action="/findPS" autocomplete="off">
        <div class="findPS-content">
            <div class="findPS-title">비밀번호찾기</div>
            <div class="findPS-image"></div>
            <p class="findPS-small-title">본인의 정보를 정확히 입력해 주세요.<br/></p>
            <div class="findPS-list">
                
                <div class="findPS-list-content">
                  <p class="findPS-list-smallcontent">비밀번호를 찾고자 하는 아이디를 입력해주세요.<br/>본인확인을 거쳐 비밀번호를 확인하실 수 있습니다.</p>
                  <div class="findPS-list-input">
                    <p>아이디</p><input class="id-input" type="text" id="findid" name="id" placeholder="ID" >
                    <p>이름</p><input class="name-input" type="text" id="findname2" name="name" placeholder="name" > 
                  </div>  
                </div> 
                
            </div>
            <div class="findPS_button_class">
              <button type="submit" class="findPS-button">검색</button>
            </div>
        </div>
      </form>
    </div>
    <!--//컨텐츠 끝 -->
    </div>
    <br>
    <hr>

    <footer id="footer"></footer>
  </div>
</body>
</html>