<!DOCTYPE html>
<html lang="ko" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Land</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    <link rel="stylesheet" href="../../src/css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../src/js/header.js"></script>
    <script src="../../src/js/smallheader.js"></script>
    <script src="../../src/js/footer.js"></script>
    <script src="../../src/js/product.js"></script>
  </head>
<body>
  <div class="wrapper">
    <header id="header">
      <%- include ("../common/header.html")%>
    </header>

    <div id="s-header"></div>

    <div class="article-wrap">
      <article class="article-product">
        <div class="product_userinfo">
          <form method="get" class="product_userinfo_form" action="/product_userinfo" onclick="UserinfoClick(this)">
            <img class="userinfo_img" src="../../src/images/user.svg" >
            <div class="userinfo_grade"><%=userinfo[0]._doc.grade%></div>
            <div class="userinfo_name"><%=userinfo[0]._doc.id%></div>
            <input type="hidden" name="product_usertoken" value="<%=userinfo[0]._doc.id%>">
            <input type="submit" class="product_usertoken_submit" style="display:none">
          </form>
          <% if(SetLikecount == 0) { %>
            <i class="product_likebtn far fa-heart fa-3x" value="0"><span><%=product[0].LikeCount%></span></i>
          <% } else { %>
            <i class="product_likebtn fas fa-heart fa-3x" value="1"><span><%=product[0].LikeCount%></span></i>
          <% } %>
        </div>

        <hr>

        <div class="slider product_slider">
          <% for(var i = 0; i < product[0].list.length; i++){ %>
            <img src="../../src/uploads/<%=product[0].list[i].name%>">
          <% } %>
        </div>

        <hr>

        <div class="product_info">
          <input class="info_uid" type="hidden" value="<%=user.id%>">
          <input class="info_pid" type="hidden" value="<%=product[0]._id%>">
          <div class="info_title"><%=product[0].title%></div>
          <%if(product[0].price_check==1){%>
          <div class="info_pricecheck" value="<%=product[0].price_check%>">
            <i class="info_pricecheck fas fa-check"> 가격 제안가능</i>
          </div>
          <%}%>
          <div class="info_price"><%=product[0].price%></div>
          <div class="info_content"><%=product[0].content%></div>
        </div>

        <div>

          <a class="product_callbtn" href="#ex1" rel="modal:open">연락하기 <i class="far fa-comment-dots"></i></a>
        </div>
        
        <div id="ex1" class="modal">
          <form class="Message_form" action="product_message" method="post" autocomplete="off">
            <div class="message_wrap">
              <div class="message_img">
                <div class="message_imgtag">
                  <img src="src/images/camera.png" onclick="handleImgAdd()">
                </div>

                <div class="message_slide">
                  <a class="messageImg_prevbtn" onclick="Previewbtn_Click(-1)">&#10094</a>
                  <a class="messageImg_nextbtn" onclick="Previewbtn_Click(1)">&#10095</a>
                  <button type="button" class="messageImg_deletebtn" onclick="ResetImgbtn()"></button>
                </div>
              </div>
  
              <div class="message_recv">
                <div class="message_recv_span">받는사람</div>
                <img class="recv_img" src="../../src/images/user.svg">
                <div class="recv_grade"><%=userinfo[0]._doc.grade%></div>
                <div class="recv_name"><%=userinfo[0]._doc.id%></div>
                <input type="hidden" name="recv_id" value="<%=userinfo[0]._doc.id%>">
              </div>
  
              <div class="message_title">제목</div>
              <input class="message_title_input" type="text" name="title" placeholder="제목을 입력해주세요.">
              <div class="message_content">내용</div>
              <textarea class="message_content_input" name="content" placeholder="내용을 입력해주세요." wrap="hard" spellcheck="false" style="resize: none;"></textarea>
              
              <button type="submit" class="message_sendbtn" onclick="swal({
                title: '전송완료',
                text: '쪽지함에서 확인하세요.',
                icon: 'success'
              }).then(function() {
                  window.location.href = '/message';
              })">전송 <i class="far fa-envelope"></i></button>
            </div>
          </form>
        </div>
      </article>
    </div>

    <footer id="footer"></footer>
  </div>
    <script>
      $(function(){
        $('html').removeClass('no-js');
      });

      var MessageImg_Inputcount = 0;
      
      function handleImgAdd(e){
        var MessageImg_inputlist = document.getElementsByClassName("message_slide")[0];

        var MessageImg_input = document.createElement('input');
        
        MessageImg_input.setAttribute("type", "file");
        MessageImg_input.setAttribute("name", "photo");
        MessageImg_input.setAttribute("class", "MessageImg_input");
        MessageImg_input.setAttribute("style", "display:none");
        MessageImg_input.setAttribute("multiple", "");
        MessageImg_input.setAttribute("accept", "image/*");
        
        MessageImg_inputlist.appendChild(MessageImg_input);
        MessageImg_Inputcount++;
        
        
        document.getElementsByClassName("MessageImg_input")[MessageImg_Inputcount-1].click();
        
        $(".MessageImg_input").on("change", handleImgPreview);
      }

      var sel_files = [];
      let currSlide = 1;

      function handleImgPreview(e) {
        // $('.Message_form').attr("enctype", "multipart/form-data");
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);

        filesArr.forEach(function(f) {
          if(!f.type.match("image.*")){
            //이미지파일만 허용하는 경고 구현하기
            return;
          }

          sel_files.push(f);

          var reader = new FileReader();
          reader.onload = function(e) {
            var img_html = "<img class=\"message_slide_img\" src=\"" + e.target.result + "\" />";
            var input_html = "<input type=\"hidden\" class=\"message_Imglist\" name=\"message_Imglist\" value=\"" + e.target.result + "\" />";
            $(".message_slide").append(img_html);
            $(".message_slide").append(input_html);
            $(".message_slide").css("display","block");
            
            handleImgSlider(currSlide);
          }
          reader.readAsDataURL(f);
        });
      }

      function handleImgSlider(num){
        var slides = document.querySelectorAll(".message_slide_img");
        let messageimg_count = slides.length;
        
        $(".messageImg_deletebtn").css("display","inline");

        if(messageimg_count>1){
          $(".messageImg_prevbtn").css("display","inline");
          $(".messageImg_nextbtn").css("display","inline");
          
        }

        if(num>slides.length){
          currSlide = 1;
        } if(num<1){
          currSlide = slides.length;
        }

        for(let i=0; i<slides.length; i++){
          slides[i].style.display="none";
        }

        slides[currSlide-1].style.display="block";
      }

      function Previewbtn_Click(num){
        handleImgSlider((currSlide+=num));
      }

      function Previewbtn_Click(num){
        handleImgSlider((currSlide+=num));
      }

      function ResetImgbtn(){
        $('.MessageImg_input').remove();
        $('.message_slide_img').remove();
        $('.message_Imglist').remove();
        // $('.Message_form').removeAttr("enctype");
        sel_files.splice(0, sel_files.length);
        MessageImg_Inputcount = 0;
        $(".messageImg_prevbtn").css("display","none");
        $(".messageImg_nextbtn").css("display","none");
        $(".messageImg_deletebtn").css("display","none");
        $(".message_slide").css("display","none");
      }

    </script>
</body>
</html>