<!DOCTYPE html>
<html lang="ko" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Land</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../../src/js/header.js"></script>
    <script src="../../src/js/smallheader.js"></script>
    <script src="../../src/js/footer.js"></script>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  </head>
<body>
  <div class="wrapper">
    <header id="header">
      <%- include ("../common/header.html")%>
    </header>

    <div id="s-header"></div>

    <div class="article-wrap">
      <form class="prtupdate-form" method="post" action="/product_update" autocomplete="off">
        <input type="hidden" name="prtup_token" value="<%=product[0]._id%>">
        <div class="article-product-update">
          <article class="product-update-left">
            <div class="title-wrap">
              <div class="title-box">제목</div>
              <input class="title-input" type="text" name="title" value="<%=product[0].title%>">
            </div>
            <div class="price-wrap">
              <div class="price-box">가격</div>
              <input class="price-input" type="text" name="price" value="<%=product[0].price%>">
              <div class="price-checks">
              <% if(product[0].price_check == "0") { %>
                <input type="checkbox" id="price-check" name="price_check" value="0" onclick="CheckClick()">
                <label for="price-check">가격 제안받기</label>
              <% } else {%>
                <input type="checkbox" id="price-check" name="price_check" value="1" checked="checked" onclick="CheckClick()">
                <label for="price-check">가격 제안받기</label>
              <% } %>
              </div>
            </div>
            <div class="content-wrap">
              <div class="content-box">내용</div>
              <textarea class="content-input" name="content" wrap="hard" style="resize:none;"><%=product[0].content%></textarea>
            </div>
          </article>
  
          <article class="product-update-right">
            <div class="imgbtn_wrap">
              <img src="src/images/camera.png" onclick="handleImgAdd()">
            </div>

            <div class="prtupdate_imgwrap">
              <a class="prt_prevbtn" onclick="Previewbtn_Click(-1)">&#10094</a>
              <a class="prt_nextbtn" onclick="Previewbtn_Click(1)">&#10095</a>
              <button type="button" class="prt_deletebtn" onclick="ResetImgbtn()"></button>
            
              <div class="prtupdate_imgwrap_default">
                <p>
                  <i class="xi-emoticon-smiley-o prt_defaulticon"></i><br>
                  물품 이미지를 첨부해주세요.
                </p>
              </div>
          
              <% for(var i=0; i<product[0].list.length; i++) { %>
                <img class="prtupdate_img" src="../../src/uploads/<%=product[0].list[i].name%>">
                <% } %>  
            </div>
          </article>
  
          <article class="product-update-bottom">
            <div class="prtupdate_btnbox">
              <button type="submit" class="prtupdate_btn">수정</button>
              <button type="button" class="prtupcancle_btn" onclick="location.href='/service-rent'">취소</button>
            </div>
          </article>

        </div>
      </form>
    </div>
    
    <footer id="footer"></footer>
  </div>
    <script>
      $(function(){
        $('html').removeClass('no-js');
      });

      //가격제안수정
      function CheckClick(){
        if($('#price-check').attr("value") == "1"){
          $('#price-check').attr("value", "0");
          // $('#price-check').removeAttr("checked");
        } else {
          $('#price-check').attr("value", "1");
          $('#price-check').attr("checked", "checked");
        }
      }
      //

      var prtinput_count = 0;
      
      function handleImgAdd(e){
        var prtupdate_inputlist = document.getElementsByClassName("prtupdate_imgwrap")[0];

        var prtupdate_input = document.createElement('input');
        
        prtupdate_input.setAttribute("type", "file");
        prtupdate_input.setAttribute("name", "photo");
        prtupdate_input.setAttribute("class", "prtupdate_input");
        prtupdate_input.setAttribute("style", "display:none");
        prtupdate_input.setAttribute("multiple", "");
        prtupdate_input.setAttribute("accept", "image/*");
        
        prtupdate_inputlist.appendChild(prtupdate_input);
        prtinput_count++;
        
        
        document.getElementsByClassName("prtupdate_input")[prtinput_count-1].click();
        
        $(".prtupdate_input").on("change", handleImgPreview);
      
      }
      
      var sel_files = [];
      let currSlide = 1;

      var img = document.getElementsByClassName('prtupdate_img')[0];

      if(img){
        $(".prtupdate_imgwrap_default").css("display","none");
      }

      handleImgSlider(currSlide);

      function handleImgPreview(e) {
        $('.prtupdate-form').attr("enctype", "multipart/form-data");
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);

        filesArr.forEach(function(f) {
          if(!f.type.match("image.*")){
            //이미지파일만 허용하는 경고 구현하기
            return;
          }

          sel_files.push(f);

          var reader = new FileReader();
          reader.onload = function(e) {
            var img_html = "<img class=\"prtupdate_img\" src=\"" + e.target.result + "\" />";
            $(".prtupdate_imgwrap").append(img_html);
            $(".prtupdate_imgwrap_default").css("display","none");
            
            handleImgSlider(currSlide);
          }
          reader.readAsDataURL(f);
        });
      }
      
      function handleImgSlider(num){
        
        var slides = document.querySelectorAll(".prtupdate_img");
        let prtimg_count = slides.length;
        
        $(".prt_deletebtn").css("display","inline");
        
        if(prtimg_count>1){
          $(".prt_prevbtn").css("display","inline");
          $(".prt_nextbtn").css("display","inline");
        }
        
        if(num>slides.length){
          currSlide = 1;
        } if(num<1){
          currSlide = slides.length;
        }
        
        for(let i=0; i<slides.length; i++){
          slides[i].style.display="none";
        }

        slides[currSlide-1].style.display="block";
        // slides[currSlide-1].setAttribute("value", "1")
        
      }

      function Previewbtn_Click(num){
        handleImgSlider((currSlide+=num));
      }

      function ResetImgbtn(){
        $('.prtupdate_input').remove();
        $('.prtupdate_img').remove();
        $('.prtupdate-form').removeAttr("enctype");
        sel_files.splice(0, sel_files.length);
        prtinput_count = 0;
        // $('.prtupdate_img').remove();
        $(".prtupdate_imgwrap_default").css("display","block");
        $(".prt_prevbtn").css("display","none");
        $(".prt_nextbtn").css("display","none");
        $(".prt_deletebtn").css("display","none");
      }
    </script>
</body>
</html>