/* PC 뷰 css */
@media all and (max-width:1920px){
  
}
    
    
/* 모바일 뷰 css */
@media all and (max-width:480px){
    .small-item1 {
        display: none;
        order:3; 
      }
      .mark2 {
        order:4; 
      }
}
