@media all and (max-width:1920px){
    .findPSresult-wrap{
        width:60rem;
        margin: 0 auto;
        border:solid 2px #c8c8c8;
        padding: 2rem 2rem; 
        font-family : 'Noto Sans KR', sans-serif;
    
    }
    
    .findPSresult-title {
        width:20rem;
        font-family : 'Black Han Sans';
        font-size: 2rem;
    }
    
    .findPSresult-image {
        width: 46rem;
        height: 8rem;
        margin:0 auto;
        background: url(//res.afreecatv.com/images/account/bg_step_05.gif) no-repeat;
        background-position: 0 -122px;
    }
    
    
    .findPSresult-list{
        font-size: 1.8rem;
        
    }
    
    
    .findPSresult-list-content{
        width:36rem;
        color: #7f7f7f;
        line-height: 130%;
        margin: 0 auto;
    }
    
    .findPSresult-ps{
        width:12rem;
        font-size: 1.6rem;
        text-align: center;
        margin: 0 auto;
    }
    
    .findPS-check{
        width:100%;
        margin: 2rem auto 0rem;
    }

    .findPS-check2{
        width:30%;
        margin: 2rem auto 0rem;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .findPS-check a{
        font-size: 1rem;
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        background-color:#3d94f6;
        border-radius:6px;
        border:1px solid #337fed;
        display:inline-block;
        cursor:pointer; 
        color:#ffffff;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #1570cd;
    }
    
    }

    @media all and (max-width:425px){
        .findPSresult-wrap{
            width:21rem;
            margin: 0 auto;
            border:solid 2px #c8c8c8;
            padding: 2rem 2rem; 
            font-family : 'Noto Sans KR', sans-serif;
        
        }
        
        .findPSresult-title {
            width:10rem;
            margin: 0 auto;
            font-family : 'Black Han Sans';
            font-size: 2rem;
        }
        
        .findPSresult-image {
            width: 20rem;
            height: 8rem;
            margin:0 auto;
            background: url(//res.afreecatv.com/images/account/bg_step_05.gif) no-repeat;
            background-position: -390px -122px;
        }
        
        
        .findPSresult-list{
            font-size: 1.1rem;
            
        }
        
        
        .findPSresult-list-content{
            width:22rem;
            color: #7f7f7f;
            line-height: 130%;
            margin: 0 auto;
        }
        
        .findPSresult-ps{
            width:8rem;
            font-size: 2rem;
            margin: 0 auto;
        }
        
        .findPS-check{
            width:100%;
            margin: 2rem auto 0rem;
        }
    
        .findPS-check2{
            width:30%;
            margin: 2rem auto 0rem;
            text-align: center;
            font-size: 0.7rem;
        }
        
        .findPS-check a{
            font-size: 1rem;
            box-shadow:inset 0px 1px 0px 0px #97c4fe;
            background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
            background-color:#3d94f6;
            border-radius:6px;
            border:1px solid #337fed;
            display:inline-block;
            cursor:pointer; 
            color:#ffffff;
            padding:6px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #1570cd;
        }
    
    }
/* 모바일 가로뷰 css */
@media screen and (max-width:900px) and (orientation: landscape){
    .findPSresult-wrap{
        width:43rem;
        margin: 0 auto;
        border:solid 2px #c8c8c8;
        padding: 4rem 2rem; 
        font-family : 'Noto Sans KR', sans-serif;
    
    }
    
    .findPSresult-title {
        width:10rem;
        margin: 0 auto;
        font-family : 'Black Han Sans';
        font-size: 2rem;
    }
    
    .findPSresult-image {
        width: 40rem;
        height: 8rem;
        margin:0 auto;
        background: url(//res.afreecatv.com/images/account/bg_step_05.gif) no-repeat;
        background-position: -30px -122px;
    }
    
    
    .findPSresult-list{
        font-size: 1.1rem;
        
    }
    
    
    .findPSresult-list-content{
        width:22rem;
        color: #7f7f7f;
        line-height: 130%;
        margin: 0 auto;
    }
    
    .findPSresult-ps{
        width:7.5rem;
        font-size: 2rem;
        margin: 0 auto;
    }
    
    .findPS-check{
        width:100%;
        margin: 2rem auto 0rem;
    }

    .findPS-check2{
        width:30%;
        margin: 2rem auto 0rem;
        text-align: center;
        font-size: 0.7rem;
    }
    
    .findPS-check a{
        font-size: 1rem;
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        background-color:#3d94f6;
        border-radius:6px;
        border:1px solid #337fed;
        display:inline-block;
        cursor:pointer; 
        color:#ffffff;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #1570cd;
    }
}