/* PC 뷰 css */
@media all and (max-width:1920px){
  
}
    .small-header{
      padding-top:0rem;
      margin-left:2rem;
      display: flex;
    }


    .small-home{
      order:1;
      font-size:1.7rem;
      padding-right:0.5rem;
      color:darkgray;
    }

    .mark{
      order:2;
      font-size:1.7rem;
      padding-right:0.5rem;
      color:darkgray;
    }

    .small-market{
      order:3; 
      font-size:1.7rem;
      color:black;
    }

    
/* 모바일 뷰 css */
@media all and (max-width:550px){
    
}
