/* PC 뷰 css */
@media all and (max-width:1980px){ 
    .top3{
    width:60rem;
    margin:0 auto;
    }

    .top3_tag{
      width:97%;
      margin:0 auto;
      margin-top:2rem;
      margin-bottom:0.5rem;
      font-size: 2rem;
    }

    .honor-wrap{
      width:60rem;
      margin:0 auto;
      margin-top:1rem;
      margin-bottom:0.5rem;
    }

    .honor-list{
        border:solid 2px #c8c8c8;
        border-radius: 5px;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        /* justify-content:space-around; */
        padding: 2rem 2rem 2rem 2rem;
      }

      .honor-list-element {
        /* border:solid 1px #c8c8c8; */
        display: flex;
        width:100%;
        padding:0;
        border-bottom:solid 2px #c8c8c8;
        margin-bottom:1rem;
      }

      .product_userinfo_form{
        width:100%;
        cursor: pointer;
      }

      .honor_userinfo{
        order:1;
        display:flex;
        width:30%;
        /* margin:0 auto; */
        margin-top:0rem;
        margin-bottom:0rem;
        /* border:solid 1px black; */
        /* margin-right:auto; */
        position: relative;
        /* justify-content: center; */
      }

      .trop{
        order:1;
        width: 3rem;
      }
      
      .honor_favicon {
        order:2;
        width: 2.7rem;
        height: 2.7rem;
        border:solid 1px black;
        border-radius:50%;
        margin-top:1.3rem;
      }

      .honor-element-grade {
        order:3;
        border-radius:5px;
        background-color: darkgray;
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:2.3rem;
        height:1.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-id {
        order:4;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:1.5rem;
      }
      
      .honor_userinfo2{
        order:2;
        display:flex;
        width:60%;
        font-size: 1rem;
        margin-top:0rem;
        margin-left:3rem;
        margin-bottom:0rem;
        /* border:solid 1px black; */
        /* margin-right:auto; */
        position: relative;
        /* justify-content: center; */
      }

      .honor-element-name {
        order:1;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:10%;
        height:1.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-name2 {
        order:2;
        width:15%;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:5rem;
      }

      .honor-element-product {
        order:3;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:20%;
        height:1.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-product2 {
        order:4;
        width:15%;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:5rem;
      }
   

      .honor-element-score {
        order:5;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:10%;
        height:1.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-score2 {
        order:6;
        width:15%;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:3rem;
      }
  
}
    

    
/* 모바일 뷰 css */
@media all and (max-width:425px){
  .top3{
    width:22rem;
    margin:0 auto;
    }

    .top3_tag{
      width:97%;
      margin:0 auto;
      margin-top:0.5rem;
      margin-bottom:0.5rem;
      font-size: 1.5rem;
    }

    .honor-wrap{
      width:25rem;
      margin:0 auto;
      margin-top:1rem;
      margin-bottom:0.5rem;
    }

    .honor-list{
        border:solid 2px #c8c8c8;
        border-radius: 5px;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        /* justify-content:space-around; */
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }

      .honor-list-element {
        /* border:solid 1px #c8c8c8; */
        position: relative;
        width:100%;
        padding:0;
        border-bottom:solid 2px #c8c8c8;
        margin-bottom:1rem;
      }

      .product_userinfo_form{
        width:100%;
        cursor: pointer;
      }

      .honor_userinfo{
        display:flex;
        width: 80%;
        /* margin:0 auto; */
        margin-top:0rem;
        margin-bottom:0rem;
        /* border:solid 1px black; */
        /* margin-right:auto; */
        position: relative;
        /* justify-content: center; */
      }

      .trop{
        order:1;
        width: 1.5rem;
      }
      
      .honor_favicon {
        order:2;
        width: 1.5rem;
        height: 1.5rem;
        border:solid 1px black;
        border-radius:50%;
        margin-top:0.6rem;
      }

      .honor-element-grade {
        order:3;
        border-radius:5px;
        background-color: darkgray;
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:2rem;
        height:1.5rem;
        font-size: 0.8rem;
        line-height: 1.2rem;
        padding-right:0.05rem;
      }

      .honor-element-id {
        order:4;
        width:2rem;
        height:1.5rem;
        font-size: 0.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:1.5rem;
      }
      
      .honor_userinfo2{
        display:flex;
        width:120%;
        font-size: 1rem;
        margin-top:0rem;
        margin-left:0rem;
        margin-bottom:0rem;
        /* border:solid 1px black; */
        /* margin-right:auto; */
        position: relative;
        /* justify-content: center; */
      }

      .honor-element-name {
        order:1;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:2rem;
        height:1.5rem;
        font-size: 0.8rem;
        line-height: 1.5rem;
        padding-right:0.05rem;
      }

      .honor-element-name2 {
        order:2;
        width:2.3rem;
        height:1.5rem;
        font-size: 0.8rem;
        margin:auto 0;
        margin-left:0rem;
        margin-right:0.2rem;
      }

      .honor-element-product {
        order:3;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0rem;
        width:3rem;
        height:1.5rem;
        font-size: 0.7rem;
        line-height: 1.5rem;
        padding-right:0.05rem;
      }

      .honor-element-product2 {
        order:4;
        width:1.5rem;
        height:1.5rem;
        font-size: 0.8rem;
        margin:auto 0;
        margin-left:0.2rem;
        margin-right:0rem;
      }
   

      .honor-element-score {
        order:5;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0rem;
        width:2rem;
        height:1.5rem;
        font-size: 0.8rem;
        line-height: 1.5rem;
        padding-right:0.05rem;
      }

      .honor-element-score2 {
        order:6;
        width:2rem;
        height:1.5rem;
        font-size: 0.8rem;
        margin:auto 0;
        margin-left:0.2rem;
        margin-right:0rem;
      }
}

/*모바일 가로뷰 */
@media screen and (max-width:900px) and (orientation: landscape){
  .top3{
    width:45rem;
    margin:0 auto;
    }

    .top3_tag{
      width:97%;
      margin:0 auto;
      margin-top:0.5rem;
      margin-bottom:0.5rem;
      font-size: 2rem;
    }

    .honor-wrap{
      width:45rem;
      margin:0 auto;
      margin-top:1rem;
      margin-bottom:0.5rem;
    }

    .honor-list{
        border:solid 2px #c8c8c8;
        border-radius: 5px;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        /* justify-content:space-around; */
        padding: 2rem 2rem 2rem 2rem;
      }

      .honor-list-element {
        /* border:solid 1px #c8c8c8; */
        display: flex;
        width:100%;
        padding:0;
        border-bottom:solid 2px #c8c8c8;
        margin-bottom:1rem;
      }

      .product_userinfo_form{
        width:100%;
        cursor: pointer;
      }

      .honor_userinfo{
        order:1;
        display:flex;
        width:40%;
        /* margin:0 auto; */
        margin-top:0rem;
        margin-bottom:0rem;
        /* border:solid 1px black; */
        /* margin-right:auto; */
        position: relative;
        /* justify-content: center; */
      }

      .trop{
        order:1;
        width: 3rem;
      }
      
      .honor_favicon {
        order:2;
        width: 2.7rem;
        height: 2.7rem;
        border:solid 1px black;
        border-radius:50%;
        margin-top:1.3rem;
      }

      .honor-element-grade {
        order:3;
        border-radius:5px;
        background-color: darkgray;
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:2.3rem;
        height:1.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-id {
        order:4;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:1.5rem;
      }
      
      .honor_userinfo2{
        order:2;
        display:flex;
        width:60%;
        font-size: 1rem;
        margin-top:0rem;
        margin-left:0rem;
        margin-bottom:0rem;
        /* border:solid 1px black; */
        /* margin-right:auto; */
        position: relative;
        /* justify-content: center; */
      }

      .honor-element-name {
        order:1;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:10%;
        height:1.8rem;
        font-size: 0.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-name2 {
        order:2;
        width:15%;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:0.5rem;
      }

      .honor-element-product {
        order:3;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:20%;
        height:1.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-product2 {
        order:4;
        width:15%;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:0.5rem;
      }
   

      .honor-element-score {
        order:5;
        border-radius:5px;
        background-color: rgb(58, 52, 52);
        color:white;
        text-align:center;
        vertical-align:middle;
        margin:auto 0;
        margin-left:0.5rem;
        width:10%;
        height:1.8rem;
        line-height: 1.8rem;
        padding-right:0.05rem;
      }

      .honor-element-score2 {
        order:6;
        width:15%;
        height:1.8rem;
        margin:auto 0;
        margin-left:0.5rem;
        margin-right:0.5rem;
      }
}
