/* PC 뷰 css */
@media all and (max-width:1920px){
  .slide{
    width:60%;
    height:25rem;
    overflow:hidden;
    margin-top:5rem;
    /* border:solid 1px black; */
  }
  
  .slide ul,
  .slide li{
    margin:0;
    list-style:none;
  }
  .slideimg{
    width: 100%; 
    height: auto;
  }
  .header-message{
    display: inline-block;
    width:60%;
    /* border:solid 1px black; */

  }
}
/* 모바일 뷰 css */
@media all and (max-width:425px) and (orientation: portrait){
    .slide{
        width:90%;
        height:10rem;
        margin: 0 auto;
        border:1px solid;
        overflow:hidden;
    }


    .slideimg{
        width: 100%; 
        height: auto;
    }

    .header-message{
        display:block;
        font-size: 0.1rem;
        width:20rem;
        margin: 0 auto;
        color:black;
    }
    
}



/* 모바일 가로뷰 css */
@media all and (max-width:850px) and (orientation: landscape){
    .slide{
        width:90%;
        height:40rem;
        margin: 0 auto;
        border:1px solid;
        overflow:hidden;
    }


    .slideimg{
        width: 100%; 
        height: auto;
    }

    .header-message{
        display:block;
        font-size: 1.5rem;
        width:70rem;
        margin: 0 auto;
        color:black;
    }
    
}