/* PC 뷰 css */
@media all and (max-width:1980px){ 
  .article-product {
    border:solid 2px #c8c8c8;
    width:60rem;
    margin: 0 auto;
    margin-top:2rem;
    border-radius: 5px;
  }
  .product_userinfo{
    display:flex;
    width:80%;
    margin:0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
    /* border:solid 1px black; */
    position: relative;
  }

  .userinfo_img{
    order:1;
    width: 2.7rem;
    border:solid 1px black;
    border-radius:50%;
  }

  .userinfo_grade{
    order:2;
    border-radius:5px;
    background-color: darkgray;
    color:white;
    text-align:center;
    vertical-align:middle;
    margin:auto 0;
    margin-left:0.5rem;
    width:2.3rem;
    height:1.8rem;
    line-height: 1.8rem;
    padding-right:0.05rem;
    /* border:solid 1px black; */
  }

  .userinfo_name{
    order:3;
    /* border:solid 1px black; */
    height:1.8rem;
    margin:auto 0;
    margin-left:0.5rem;
  }

  .product_likebtn {
    order:4;
    position: absolute;
    right:0;
    cursor: pointer;
  }

  .fa-heart {
    color:#DA4949;
  }
  
  .fas {
    color:#DA4949;
  }

  .slider{
    width:80%;
    margin:0 auto;
    margin-top:2rem;
  }

  .slider div img {
    width:100%;
    height:35rem;
    border-radius:5%;
    object-fit:content;
    /* margin:0 auto; */
  }

  .slider .slick-dots {
    display:block;
    width:100%;
    text-align:center;
    list-style-type: none;
    padding:0;
    
  }

  .slider .slick-dots li {
    display:inline-block;
    width:15px;
    height:15px;
    margin:5px;
  }

  .slider .slick-dots li button {
    font-size:0;
    line-height:0;
    display:block;
    width:15px;
    height:15px;
    cursor: pointer;
    background:#5dbfeb;
    border-radius: 50%;
    border:none;
  }
  .slider .slick-dots li.slick-active button {
    background: #186086;
  }

  .slider .slick-prev {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    z-index: 1000;
    width: 30px; 
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: transparent !important;
    border:none;
    cursor: pointer;
  }

  .slider .slick-prev::before {
    content:"\f053";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 9px; top: 8px;
  }
  .slider .slick-next {
    position: absolute; 
    right: 0; 
    bottom: 0; 
    z-index: 1000;
    width: 30px; 
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: transparent !important;
    border:none;
    cursor: pointer;
  }
  .slider .slick-next::before { 
    content:"\f054";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 11px; top: 8px;
  }

  .product_info {
    width:80%;
    margin:0 auto;
  }

  .info_title {
    font-size: 1.8rem;
  }
  
  .info_price {
    font-size: 1.5rem;
    color: #ff8a3d;
    margin-bottom:1rem;
  }
  .info_pricecheck {
    font-size: 1rem;
    color: gray;
  }

  .info_content {
    white-space:pre;
    width:81%;
    /* border:solid 1px black; */
    /* font-size: 1.5rem; */
  }

  .product_callbtn {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color:#3d94f6;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    margin-left:44%;
    margin-right:5rem;
    margin-top:2rem;
    margin-bottom:2rem;
  }

  .product_callbtn:hover {
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color:#1e62d0;
  }
  
  .product_callbtn:active {
    position:relative;
    top:1px;
  }
}
    

    
/* 모바일 뷰 css */
@media all and (max-width:480px){
  .article-product {
    border:solid 2px #c8c8c8;
    width:25rem;
    margin: 0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius: 5px;
  }
  .product_userinfo{
    display:flex;
    width:80%;
    margin:0 auto;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    
    /* border:solid 1px black; */
    position: relative;
  }

  .userinfo_img{
    order:1;
    width: 2rem;
    border:solid 1px black;
    border-radius:50%;
  }

  .userinfo_grade{
    order:2;
    border-radius:5px;
    background-color: darkgray;
    color:white;
    text-align:center;
    vertical-align:middle;
    margin:auto 0;
    margin-left:0.5rem;
    width:2rem;
    height:1.5rem;
    line-height: 1.5rem;
    padding-right:0.05rem;
    /* border:solid 1px black; */
  }

  .userinfo_name{
    order:3;
    /* border:solid 1px black; */
    height:1.8rem;
    margin:auto 0;
    margin-left:0.5rem;
  }

  .product_likebtn {
    order:4;
    position: absolute;
    right:0;
    cursor: pointer;
  }

  .fa-heart {
    color:#DA4949;
  }
  
  .fas {
    color:#DA4949;
  }

  .fa-3x {
    font-size: 2.2em;
}

  .slider{
    width:80%;
    margin:0 auto;
    margin-top:2rem;
  }

  .slider div img {
    width:100%;
    height:18rem;
    border-radius:5%;
    object-fit:content;
    /* margin:0 auto; */
  }

  .slider .slick-dots {
    display:block;
    width:100%;
    text-align:center;
    list-style-type: none;
    padding:0;
    
  }

  .slider .slick-dots li {
    display:inline-block;
    width:15px;
    height:15px;
    margin:5px;
  }

  .slider .slick-dots li button {
    font-size:0;
    line-height:0;
    display:block;
    width:15px;
    height:15px;
    cursor: pointer;
    background:#5dbfeb;
    border-radius: 50%;
    border:none;
  }
  .slider .slick-dots li.slick-active button {
    background: #186086;
  }

  .slider .slick-prev {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    z-index: 1;
    width: 30px; 
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: transparent !important;
    border:none;
  }

  .slider .slick-prev::before {
    content:"\f053";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 9px; top: 8px;
  }
  .slider .slick-next {
    position: absolute; 
    right: 0; 
    bottom: 0; 
    z-index: 1;
    width: 30px; 
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: transparent !important;
    border:none;
  }
  .slider .slick-next::before { 
    content:"\f054";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 11px; top: 8px;
  }

  .product_info {
    width:80%;
    margin:0 auto;
  }

  .info_title {
    font-size: 1.5rem;
  }
  
  .info_price {
    font-size: 1rem;
    color: #ff8a3d;
    margin-bottom:0.5rem;
  }
  
  .info_content {
    white-space:pre;
    width:81%;
    /* border:solid 1px black; */
    /* font-size: 1.5rem; */
  }

  .product_callbtn {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color:#3d94f6;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    margin-left:33%;
    margin-right:5rem;
    margin-top:2rem;
    margin-bottom:2rem;
  }

  .product_callbtn:hover {
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color:#1e62d0;
  }
  
  .product_callbtn:active {
    position:relative;
    top:1px;
  }
}
