/* PC 뷰 css */
@media all and (max-width:1920px){
  
}
    .small-header{
      padding-top:0rem;
      margin-left:2rem;
      display: flex;
    }


    .small-home{
      order:1;
      font-size:1.7rem;
      padding-right:0.5rem;
      color:darkgray;
    }

    .mark{
      order:2;
      font-size:1.7rem;
      padding-right:0.5rem;
      color:darkgray;
    }

    .small-market{
      order:3; 
      font-size:1.7rem;
      color:black;
    }

    .search-bar2{
        text-align:center;
        width:30%;
        min-width:13rem;
        margin:0 auto;
        margin-bottom:1rem;
        margin-top:1rem;
    }

    #search-text2 {
        font-style:italic;
        font-size:40%;
        width:40%;
        min-width:13rem;
        line-height:270%;
        padding-left:0.5%;
        border-radius: 5px;
        border:1;
      }

    .search-favicon2 {
        padding:0;
        position:relative;
        right:1%;
        top:10px;
        background-color:white;
        border:none;
        cursor:pointer;
      }
    
    .search-favicon2 img {
        height:28px;
      }

    .write {
        position:relative;
        font-size:100%;
        margin-left:4%;
        background-color:white;
        border:1;
        cursor:pointer;
        top:2px
      }
    

    
/* 모바일 뷰 css */
@media all and (max-width:550px){
    
}
