/* PC 뷰 css */
@media all and (max-width:1980px){ 
  .store-search-form {
    position: relative;
    margin:3rem auto;
    width: 15rem;
    height: 2.5rem;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
    border:solid 2px #5a6674;
    font-family: 'Roboto', sans-serif;
  }
  
  .store-search-input {
    position: relative;
    top: 0.1rem;
    left: 1rem;
    font-size: 1rem;
    background: none;
    color: #5a6674;
    width: 12rem;
    border: none;
    appearance: none;
    outline: none;
    font-size:1rem;
  }
  
  .store-submit-button {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
    display:inline;
  }
  
  .store-search-button{
     width:1.5rem;
     height:1.5rem;
     fill: #5a6674;
   }

  .article-store {
    width:70rem;
    margin:0 auto;
    /* margin-top:10rem; */
    /* border:solid 1px black; */
  }

  .article-store ul{
    list-style:none;
    margin:0;
    padding:0;
  }

  .article-store ul > li {
    display:inline-block;
    font-size:1.3rem;
    border-left: solid 1px black;
    margin: 5px 0;
    padding: 0 10px;
  }

  .article-store ul > li:first-child {
    border-left: none;
    }

  .orderlist {
    cursor: pointer;
  }

  /* .orderbydate {
    color:black;
  } */

  /* .orderbydate:hover {
    color:black;
  } */

  .orderbylike {
    color:darkgray;
  }

  .orderbylike:hover {
    color:black;
  }

  .store-product{
    border:solid 2px #c8c8c8;
    border-radius: 5px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /* justify-content:space-around; */
    padding: 3rem 4rem 1rem 4rem;
  }
  .store-product-element {
    /* border:solid 1px #c8c8c8; */
    position: relative;
    width:15.5rem;
    height:20.5rem;
    padding:0;
    cursor: pointer;
    margin-bottom:2rem;
  }

  .element_img {
    width:100%;
    height:15rem;
    /* min-height:65%; */
    /* margin:0 auto; */
    margin-top:0.7rem;
    border-radius:5%;
    /* border:solid 1px #c8c8c8; */
    object-fit: content;
  }
  
  .element_title {
    width:100%;
    height:auto;
    /* border:solid 1px #c8c8c8; */
    font-size:1.5rem;
    /* margin-top:0.5rem; */
  }

  .element_check {
    width:50%;
    font-size:1rem;
    color:#c8c8c8;
    border:solid 1px #c8c8c8;
    display:inline-block;
  }

  .element_price {
    width:90%;
    height:auto;
    font-size:1.3rem;
    color: #ff8a3d;
    display:inline-block;
    /* border:solid 1px #c8c8c8; */
  }

  
  .element_likebox {
    display:inline-block;
    height:31px;
    line-height: 31px;
    /* border:solid 1px black; */
    position: absolute;
    right:5px;

  }
  .element_icon {
    display:inline-block;
    
  }
  
  .element_count {
    display:inline-block;
    
  }
}
    

    
/* 모바일 뷰 css */
@media all and (max-width:425px){
  .store-search-form {
    position: relative;
    margin:1rem auto;
    width: 12rem;
    height: 2rem;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
    border:solid 2px #5a6674;
    font-family: 'Roboto', sans-serif;
  }
  
  .store-search-input {
    position: relative;
    top: 0rem;
    left: 1rem;
    font-size: 1rem;
    background: none;
    color: #5a6674;
    width: 8rem;
    border: none;
    appearance: none;
    outline: none;
    font-size:1rem;
  }
  
  .store-submit-button {
    position: relative;
    top: 0.4rem;
    left: 0.5rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
    display:inline;
  }
  
  .store-search-button{
     width:1.4rem;
     height:1.4rem;
     fill: #5a6674;
   }

  .article-store {
    width:25rem;
    margin:0 auto;
    /* margin-top:10rem; */
    /* border:solid 1px black; */
  }

  .article-store ul{
    list-style:none;
    margin:0;
    padding:0;
  }

  .article-store ul > li {
    display:inline-block;
    font-size:1rem;
    border-left: solid 1px;
    margin: 2px 0;
    padding: 0 3px;
  }

  .article-store ul > li:first-child {
    border-left: none;
    }

  .store-product{
    border:solid 2px #c8c8c8;
    border-radius: 5px;
    display:flex;
    /* justify-content:space-around; */
    padding: 0 1rem;
  }
  .store-product-element {
    /* border:solid 1px #c8c8c8; */
    width:22rem;
    height:7rem;
    padding:0;
    cursor: pointer;
    margin-bottom:1rem;
    border-bottom:solid 2px #c8c8c8;
  }

  .element_img {
    width:5rem;
    height:5rem;
    /* min-height:65%; */
    /* margin:0 auto; */
    margin-top:1rem;
    border-radius:5%;
    /* border:solid 1px #c8c8c8; */
    object-fit: content;
  }
  
  .element_title {
    display: inline-block;
    vertical-align: 2rem;
    margin-left:2rem;
    width:5rem;
    /* border:solid 1px #c8c8c8; */
    font-size:1rem;
    /* margin-top:0.5rem; */
  }
  .element_price {
    display: inline-block;
    vertical-align: 2rem;
    margin-left:1rem;
    width:4rem;
    font-size:1rem;
    color: #ff8a3d;
    /* border:solid 1px #c8c8c8; */
  }
  
  .element_likebox {
    display:inline-block;
    height:31px;
    line-height: 31px;
    /* border:solid 1px black; */
    position: absolute;
    margin-top: 2.6rem;
    right:5px;

  }
  .element_icon {
    display:inline-block;
    
  }
  
  .element_count {
    display:inline-block;
    
  }  
}

/*모바일 가로뷰 */
@media screen and (max-width:900px) and (orientation: landscape){
  .store-search-form {
    position: relative;
    margin:1rem auto;
    width: 12rem;
    height: 2rem;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
    border:solid 2px #5a6674;
    font-family: 'Roboto', sans-serif;
  }
  
  .store-search-input {
    position: relative;
    top: 0rem;
    left: 1rem;
    font-size: 1rem;
    background: none;
    color: #5a6674;
    width: 8rem;
    border: none;
    appearance: none;
    outline: none;
    font-size:1rem;
  }
  
  .store-submit-button {
    position: relative;
    top: 0.4rem;
    left: 0.5rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
    display:inline;
  }
  
  .store-search-button{
     width:1.4rem;
     height:1.4rem;
     fill: #5a6674;
   }

  .article-store {
    width:45rem;
    margin:0 auto;
    /* margin-top:10rem; */
    /* border:solid 1px black; */
  }

  .article-store ul{
    list-style:none;
    margin:0;
    padding:0;
  }

  .article-store ul > li {
    display:inline-block;
    font-size:1rem;
    border-left: solid 1px;
    margin: 2px 0;
    padding: 0 3px;
  }

  .article-store ul > li:first-child {
    border-left: none;
    }

  .store-product{
    border:solid 2px #c8c8c8;
    border-radius: 5px;
    display:flex;
    /* justify-content:space-around; */
    padding: 0 1rem;
  }
  .store-product-element {
    /* border:solid 1px #c8c8c8; */
    width:43rem;
    height:9rem;
    padding:0;
    cursor: pointer;
    margin-bottom:1rem;
    border-bottom:solid 2px #c8c8c8;
  }

  .element_img {
    width:7rem;
    height:7rem;
    /* min-height:65%; */
    /* margin:0 auto; */
    margin-top:1rem;
    border-radius:5%;
    /* border:solid 1px #c8c8c8; */
    object-fit: content;
  }
  
  .element_title {
    display: inline-block;
    vertical-align: 3rem;
    margin-left:5.5rem;
    width:5rem;
    /* border:solid 1px #c8c8c8; */
    font-size:1.5rem;
    /* margin-top:0.5rem; */
  }
  .element_price {
    display: inline-block;
    vertical-align: 3rem;
    margin-left:8rem;
    width:4rem;
    font-size:1.5rem;
    color: #ff8a3d;
    /* border:solid 1px #c8c8c8; */
  }
  
  .element_likebox {
    display:inline-block;
    height:31px;
    line-height: 31px;
    /* border:solid 1px black; */
    position: absolute;
    margin-top: 3.5rem;
    right:5px;

  }
  .element_icon {
    display:inline-block;
    
  }
  
  .element_count {
    display:inline-block;
    
  }  
}

/*입력시 화면 깨짐 방지 */
@media all and (max-width:425px) and (orientation: landscape){
  .store-search-form {
    position: relative;
    margin:1rem auto;
    width: 12rem;
    height: 2rem;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
    border:solid 2px #5a6674;
    font-family: 'Roboto', sans-serif;
  }
  
  .store-search-input {
    position: relative;
    top: 0rem;
    left: 1rem;
    font-size: 1rem;
    background: none;
    color: #5a6674;
    width: 8rem;
    border: none;
    appearance: none;
    outline: none;
    font-size:1rem;
  }
  
  .store-submit-button {
    position: relative;
    top: 0.4rem;
    left: 0.5rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
    display:inline;
  }
  
  .store-search-button{
     width:1.4rem;
     height:1.4rem;
     fill: #5a6674;
   }

  .article-store {
    width:25rem;
    margin:0 auto;
    /* margin-top:10rem; */
    /* border:solid 1px black; */
  }

  .article-store ul{
    list-style:none;
    margin:0;
    padding:0;
  }

  .article-store ul > li {
    display:inline-block;
    font-size:1rem;
    border-left: solid 1px;
    margin: 2px 0;
    padding: 0 3px;
  }

  .article-store ul > li:first-child {
    border-left: none;
    }

  .store-product{
    border:solid 2px #c8c8c8;
    border-radius: 5px;
    display:flex;
    /* justify-content:space-around; */
    padding: 0 1rem;
  }
  .store-product-element {
    /* border:solid 1px #c8c8c8; */
    width:22rem;
    height:7rem;
    padding:0;
    cursor: pointer;
    margin-bottom:1rem;
    border-bottom:solid 2px #c8c8c8;
  }

  .element_img {
    width:5rem;
    height:5rem;
    /* min-height:65%; */
    /* margin:0 auto; */
    margin-top:1rem;
    border-radius:5%;
    /* border:solid 1px #c8c8c8; */
    object-fit: content;
  }
  
  .element_title {
    display: inline-block;
    vertical-align: 2rem;
    margin-left:2rem;
    width:5rem;
    /* border:solid 1px #c8c8c8; */
    font-size:1rem;
    /* margin-top:0.5rem; */
  }
  .element_price {
    display: inline-block;
    vertical-align: 2rem;
    margin-left:1rem;
    width:4rem;
    font-size:1rem;
    color: #ff8a3d;
    /* border:solid 1px #c8c8c8; */
  }
  
  .element_likebox {
    display:inline-block;
    height:31px;
    line-height: 31px;
    /* border:solid 1px black; */
    position: absolute;
    margin-top: 2.6rem;
    right:5px;

  }
  .element_icon {
    display:inline-block;
    
  }
  
  .element_count {
    display:inline-block;
    
  }  
}
