/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Noto+Sans+KR&display=swap');

/* PC 뷰 css */
@import "index.css";
@import "header.css";
@import "footer.css";
@import "main.css";
@import "store.css";
@import "search.css";

@media all and (max-width:1920px){
  *:focus { 
    outline:none; 
  }

  html {
    min-width:100%;
  }

  body {
    margin:0;
    padding:0;
    min-width:100rem;
  }
  
}

/* 모바일 뷰 css */
@media all and (max-width:550px){
    *:focus { 
    outline:none; 
  }

  html, body {
    margin:0;
    padding:0;
    min-width:100%;
    max-width:100%
  }

}